extends layout

block content
	.hero-unit
		h1 Easy photo uploads
		p.
			#{title} automatically upload photos from your Android phone to a private album. 
			You can look through them on your computer and post your favorites later.
		p
			a(class="btn btn-primary btn-large", href="#") Be awesome, click here!