extends ../layout

block content
	h1 Privacy Policy
	
	h2 We recognize that access to your information is a privilege, and we respect that.
	
	p We will never sell your personal information to anyone.
	
	h3 Email
	
	p 
		| We hate spam too. 
		| We will only use your email address for necessary communications and notifications that you request. 
		| We will never sell your email address or share it with any third-parties outside of the specific exceptions below.
	p <a href="http://picsyncapp.us4.list-manage.com/unsubscribe?u=8e553562163eaf802e9f4d5df&id=e42e3c86df">Click here to unsubscribe</a> from the notification list on the home page.
	
	h3 Services PicSync is built on
	
	p PicSync uses the following services to make our application work, and because of this they will have limited access to your information. 
		ul
			li <b>Facebook</b>: When you sign up, we access your Facebook profile information to create your account and authenticate you. We also post images to your Facebook profile when you request. <a href="https://www.facebook.com/about/privacy/">Facebook's Privacy Policy</a>
			li <b>Amazon Web Services</b>: We store uploaded photos on Amazon S3. <a href="http://aws.amazon.com/privacy/">Amazon Web Service's Privacy Policy</a>
			li <b>Heroku</b>: We use web servers from Heroku. <a href="http://policy.heroku.com/privacy">Heroku's Privacy Policy</a>
			li <b>MailChimp</b>: We're using MailChimp to notify interested users of our launch. You can <a href="http://picsyncapp.us4.list-manage.com/unsubscribe?u=8e553562163eaf802e9f4d5df&id=e42e3c86df">unsubscribe</a> from this list at any time. <a href="http://mailchimp.com/legal/privacy/">MailChimp's Privacy Policy</a>
			li <b>Google Analytics</b>: We use Google Analytics to monitor and improve the website. <a href="http://www.google.com/intl/en/analytics/privacyoverview.html">Google Analytics's Privacy Policy</a>